apiVersion: v1
kind: Secret
metadata:
  name: jenkins-pull-secret
  namespace: {{ user.username }}-{{ infra_project_name }}
data:
  .dockerconfigjson: {{ reg_rhio_pull_token }}
type: kubernetes.io/dockerconfigjson